steamvr_unity.zip
VRJam2014/Assembly-CSharp-vs.csproj
VRJam2014/Assembly-CSharp.csproj
VRJam2014/Library/*
VRJam2014/Temp/*
VRJam2014/VRJam2014-csharp.sln
VRJam2014/VRJam2014.sln
VRJam2014/VRJam2014.userprefs

*.lock
*.DS_Store
*.swp
*.out

Inspiration/339721-cubivore-gamecube-screenshot-as-a-chicken-the-cubivore-grows.png

VRJam2014/Assets/Art/Everything.mb

VRJam2014/Assets/Shooter.cs

VRJam2014/Assets/Art/Ring-small.mtl.meta

*.csproj

VRJam2014/Assembly-CSharp-firstpass-vs.csproj

VRJam2014/Assembly-CSharp-firstpass.csproj

VRJam2014/Assembly-UnityScript-firstpass-vs.unityproj

VRJam2014/Assembly-UnityScript-firstpass.unityproj

VRJam2014/Assets/Audio/VRJam2014-BGM2.ogg.meta

VRJam2014/ProjectSettings/Physics2DSettings.asset

VRJam2014/Assembly-UnityScript-Editor-vs.unityproj

VRJam2014/Assembly-UnityScript-Editor.unityproj
